* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poltawski Nowy", serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

.background-home {
  position: relative;
  min-height: 150vh;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  background-image: url("../assets/img/Weyden1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .background-home {
    min-height: 250vh;
  }
}

.home {
  padding: 1rem 4.5rem 2rem 4.5rem;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
}

.home-text-container,
nav,
.footer,
.big-button {
  position: relative;
  z-index: 3;
}

.home-text-container {
  padding-top: 6rem;
}

.home-text-1,
.home-text-2 {
  text-align: end;
}

.discover {
  font-family: "Poltawski Nowy", serif;
  font-style: italic;
  color: #ffffff;
  font-size: 9rem;
  line-height: 0.7;
}

#art {
  font-family: Cormorant Unicase, serif;
  color: #ffffff;
  font-size: 10rem;
}

/* .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.about-us-img {
  width: 6rem;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0.5rem;
}

.footer-text {
  font-family: "Poltawski Nowy", serif;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.footer-name {
  font-family: Cormorant Unicase, serif;
  color: #ffffff;
  font-size: 1.2rem;
}

.footer-year {
  font-family: "Poltawski Nowy", serif;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}
