/* .home {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../assets/img/Weyden1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-img-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/Weyden1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: inset(15% 23% 15% 7%);
  border-radius: 20px;
  z-index: 2;
} */

.home {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url("../assets/img/Weyden1.jpeg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-img-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  clip-path: inset(15% 23% 15% 7% round 45%);
  z-index: 2;
}

.home-text-container,
nav,
.footer {
  position: relative;
  z-index: 3;
}

.home-text-1,
.home-text-2 {
  text-align: end;
}

.discover {
  font-family: Poltlawski, serif;
  font-style: italic;
  color: #ffffff;
  font-size: 9rem;
}

#art {
  font-family: Cormorant Unicase, serif;
  color: #ffffff;
  font-size: 10rem;
}

/* .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.about-us-img {
  width: 6rem;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 0.5rem;
}

.footer-text {
  font-family: Poltlawski, serif;
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.footer-name {
  font-family: Cormorant Unicase, serif;
  color: #ffffff;
  font-size: 1.2rem;
}

.footer-year {
  font-family: Poltlawski, serif;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}
