.todays-art-logo {
  display: inline-block;
  margin: 1rem 0 3rem 1rem;
  font-family: Cormorant Unicase, serif;
  font-size: 1.5rem;
  padding: 0.5rem 0.3rem;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.todays-art-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: #ffffff;
}

.todays-art-label {
  font-family: Cormorant Unicase, serif;
  font-size: 1.5rem;
}

.todays-art-text {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
}

.todays-art-info {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
}

.todays-art-label {
  grid-column-start: 1;
  grid-column-end: 2;
}

.todays-art-details-container {
  grid-column-start: 2;
  grid-column-end: 5;
}

#todays-art-artist {
  grid-row-start: 1;
  grid-row-end: 2;
}

.todays-art-info {
  margin-top: 3rem;
}
